// Custom styles.

.col-3 {
  width: 25%;
}
.col-6 {
  width: 50%;
}
.col-9 {
  width: 75%;
}
.col-12 {
  width: 100%;
}

@for $i from 1 through 10 {
  .fw-#{$i * 100} {
    font-weight: #{$i * 100};
  }
}

@for $i from 1 through 20 {
  .gap-#{$i * 5} {
    height: #{$i * 5}px;
    min-height: #{$i * 5}px;
  }
}

.language-text {
  .highlight {
    .gutter {
      display: none;
    }

    .code {
      pre {
        code {
          font-size: 13px;
          line-height: 19px;
          color: #000;
        }
      }
    }
  }
}

.not-found-section {
  a {
    span {
      font-size: 40px;
    }
  }
}


h1 { font-size: 26px; }

@media (max-width: 767px) { h1 { font-size: 20px; } }
h2 { font-size: 22px; }

@media (max-width: 767px) { h2 { font-size: 18px; } }
h3 { font-size: 20px; }

@media (max-width: 767px) { h3 { font-size: 16px; } }
h4 { font-size: 18px; }

@media (max-width: 767px) { h4 { font-size: 14px; } }
h5 { font-size: 16px; }

@media (max-width: 767px) { h5 { font-size: 12px; } }
h6 { font-size: 14px; }